# Clean Discrete and Continuous Columns 

- this notebook goes third

In [1]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns 

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression 
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import mean_squared_error

In [2]:
int_train_df = pd.read_csv('./datasets/train.csv')
int_test_df = pd.read_csv('./datasets/test.csv')

In [3]:
# Create df of all columns with discrete/continuous values 

int_train_df = int_train_df[['Lot Frontage', 'Lot Area', 'Year Built', 'Year Remod/Add', 'Mas Vnr Area', 'BsmtFin SF 1',
        'BsmtFin SF 2', 'Bsmt Unf SF', 'Total Bsmt SF', '1st Flr SF', '2nd Flr SF', 'Low Qual Fin SF', 'Gr Liv Area',
        'Bsmt Full Bath', 'Bsmt Half Bath', 'Full Bath', 'Half Bath', 'Bedroom AbvGr', 'Kitchen AbvGr', 'TotRms AbvGrd', 'Fireplaces', 
        'Garage Yr Blt', 'Garage Cars', 'Garage Area', 'SalePrice']]
int_test_df = int_test_df[['Lot Frontage', 'Lot Area', 'Year Built', 'Year Remod/Add', 'Mas Vnr Area', 'BsmtFin SF 1',
        'BsmtFin SF 2', 'Bsmt Unf SF', 'Total Bsmt SF', '1st Flr SF', '2nd Flr SF', 'Low Qual Fin SF', 'Gr Liv Area',
        'Bsmt Full Bath', 'Bsmt Half Bath', 'Full Bath', 'Half Bath', 'Bedroom AbvGr', 'Kitchen AbvGr', 'TotRms AbvGrd', 'Fireplaces', 
        'Garage Yr Blt', 'Garage Cars', 'Garage Area']]

In [4]:
# check for nulls 
int_train_df.isnull().sum()

Lot Frontage       330
Lot Area             0
Year Built           0
Year Remod/Add       0
Mas Vnr Area        22
BsmtFin SF 1         1
BsmtFin SF 2         1
Bsmt Unf SF          1
Total Bsmt SF        1
1st Flr SF           0
2nd Flr SF           0
Low Qual Fin SF      0
Gr Liv Area          0
Bsmt Full Bath       2
Bsmt Half Bath       2
Full Bath            0
Half Bath            0
Bedroom AbvGr        0
Kitchen AbvGr        0
TotRms AbvGrd        0
Fireplaces           0
Garage Yr Blt      114
Garage Cars          1
Garage Area          1
SalePrice            0
dtype: int64

In [5]:
int_test_df.isnull().sum()

Lot Frontage       160
Lot Area             0
Year Built           0
Year Remod/Add       0
Mas Vnr Area         1
BsmtFin SF 1         0
BsmtFin SF 2         0
Bsmt Unf SF          0
Total Bsmt SF        0
1st Flr SF           0
2nd Flr SF           0
Low Qual Fin SF      0
Gr Liv Area          0
Bsmt Full Bath       0
Bsmt Half Bath       0
Full Bath            0
Half Bath            0
Bedroom AbvGr        0
Kitchen AbvGr        0
TotRms AbvGrd        0
Fireplaces           0
Garage Yr Blt       45
Garage Cars          0
Garage Area          0
dtype: int64

In [6]:
# Replace null values with 0 unless it does not make sense 

int_train_df['Lot Frontage'].fillna(0, inplace=True)
int_train_df['Mas Vnr Area'].fillna(0,inplace=True)
int_train_df['BsmtFin SF 1'].fillna(0,inplace=True)
int_train_df['BsmtFin SF 2'].fillna(0,inplace=True)
int_train_df['Bsmt Unf SF'].fillna(0,inplace=True)
int_train_df['Total Bsmt SF'].fillna(0,inplace=True)
int_train_df['Bsmt Full Bath'].fillna(0,inplace=True)
int_train_df['Bsmt Half Bath'].fillna(0,inplace=True)
int_train_df['Garage Yr Blt'].fillna(1978.7077955601446, inplace=True) #cannot fill year built with 0 so I changed it to the mean
int_train_df['Garage Area'].fillna(0,inplace=True)
int_train_df['Garage Cars'].fillna(0,inplace=True)

int_test_df['Lot Frontage'].fillna(0, inplace=True)
int_test_df['Mas Vnr Area'].fillna(0,inplace=True)
int_test_df['BsmtFin SF 1'].fillna(0,inplace=True)
int_test_df['BsmtFin SF 2'].fillna(0,inplace=True)
int_test_df['Bsmt Unf SF'].fillna(0,inplace=True)
int_test_df['Total Bsmt SF'].fillna(0,inplace=True)
int_test_df['Bsmt Full Bath'].fillna(0,inplace=True)
int_test_df['Bsmt Half Bath'].fillna(0,inplace=True)
int_test_df['Garage Yr Blt'].fillna(1978.7077955601446, inplace=True) #cannot fill year built with 0 so I changed it to the mean
int_test_df['Garage Area'].fillna(0,inplace=True)
int_test_df['Garage Cars'].fillna(0,inplace=True)

In [7]:
int_train_df.isnull().sum()

Lot Frontage       0
Lot Area           0
Year Built         0
Year Remod/Add     0
Mas Vnr Area       0
BsmtFin SF 1       0
BsmtFin SF 2       0
Bsmt Unf SF        0
Total Bsmt SF      0
1st Flr SF         0
2nd Flr SF         0
Low Qual Fin SF    0
Gr Liv Area        0
Bsmt Full Bath     0
Bsmt Half Bath     0
Full Bath          0
Half Bath          0
Bedroom AbvGr      0
Kitchen AbvGr      0
TotRms AbvGrd      0
Fireplaces         0
Garage Yr Blt      0
Garage Cars        0
Garage Area        0
SalePrice          0
dtype: int64

In [8]:
int_test_df.isnull().sum()

Lot Frontage       0
Lot Area           0
Year Built         0
Year Remod/Add     0
Mas Vnr Area       0
BsmtFin SF 1       0
BsmtFin SF 2       0
Bsmt Unf SF        0
Total Bsmt SF      0
1st Flr SF         0
2nd Flr SF         0
Low Qual Fin SF    0
Gr Liv Area        0
Bsmt Full Bath     0
Bsmt Half Bath     0
Full Bath          0
Half Bath          0
Bedroom AbvGr      0
Kitchen AbvGr      0
TotRms AbvGrd      0
Fireplaces         0
Garage Yr Blt      0
Garage Cars        0
Garage Area        0
dtype: int64

In [9]:
# clean cols names
int_train_df.columns = int_train_df.columns.str.lower().str.replace(' ', '_')
int_test_df.columns = int_test_df.columns.str.lower().str.replace(' ', '_')

# How do all the features look in a Linear Regresion?

In [10]:
int_train_df['saleprice'].mean()

181469.70160897123

In [11]:
int_train_df.head()

,lot_frontage,lot_area,year_built,year_remod/add,mas_vnr_area,bsmtfin_sf_1,bsmtfin_sf_2,bsmt_unf_sf,total_bsmt_sf,1st_flr_sf,...,full_bath,half_bath,bedroom_abvgr,kitchen_abvgr,totrms_abvgrd,fireplaces,garage_yr_blt,garage_cars,garage_area,saleprice
0,0.0,13517,1976,2005,289.0,533.0,0.0,192.0,725.0,725,...,2,1,3,1,6,0,1976.0,2.0,475.0,130500
1,43.0,11492,1996,1997,132.0,637.0,0.0,276.0,913.0,913,...,2,1,4,1,8,1,1997.0,2.0,559.0,220000
2,68.0,7922,1953,2007,0.0,731.0,0.0,326.0,1057.0,1057,...,1,0,3,1,5,0,1953.0,1.0,246.0,109000
3,73.0,9802,2006,2007,0.0,0.0,0.0,384.0,384.0,744,...,2,1,3,1,7,0,2007.0,2.0,400.0,174000
4,82.0,14235,1900,1993,0.0,0.0,0.0,676.0,676.0,831,...,2,0,3,1,6,0,1957.0,2.0,484.0,138500

In [12]:
X = int_train_df.drop(columns=['saleprice'])
y = int_train_df['saleprice']

In [13]:
X_train, X_test, y_train, y_test = train_test_split(X,
                                                    y,
                                                    test_size = 0.25,
                                                    random_state = 42)

In [14]:
sc = StandardScaler()

In [15]:
Z_train = sc.fit_transform(X_train)

In [16]:
Z_test = sc.transform(X_test)

In [17]:
lr = LinearRegression()

In [18]:
lr.fit(Z_train, y_train)

LinearRegression()

In [19]:
lr.score(Z_train, y_train)

0.7663086447026932

In [20]:
lr.score(Z_test, y_test)

0.8313634251163542

In [21]:
y_pred = lr.predict(Z_test)
y_pred

array([132198.29373398, 225167.80926796, 264254.690743  , 106169.54320695,
       204921.54301663, 298323.80162769, 169728.73459093, 252737.52462786,
       182985.03407749, 108112.28198242, 164225.20675074, 201054.58881488,
       161025.08084838,  97575.23213721, 102490.81359149, 107028.35711886,
       128693.86436928, 206467.63450397, 301663.75947268, 245780.9435792 ,
       207409.77350203, 214392.01642122, 145075.8905951 , 110670.48425969,
       161127.12425254, 223803.76248593, 180630.89823384, 125720.84555259,
       254500.05305282, 135310.4361439 , 301384.12031214, 115256.02848642,
       127950.44130201, 179898.6441061 , 202391.93526184, 115180.07836719,
       168319.26220925, 230909.05486721, 350471.32793298,  82520.10409177,
       257899.94336428, 206575.16320109, 285331.22403003, 201251.16863381,
        96124.52222695, 192520.62805204, 148551.0159156 , 130267.69829952,
       293346.804652  , 139790.15505648, 316406.74167896,  50589.07367107,
       143953.28428789, 224771.85413681, 146012.77512561, 108022.58031667,
       240333.0311684 , 203550.1708842 , 135981.51669181, 192543.35662867,
       261250.63209911,  61948.27405307, 197829.91331468, 226187.70330667,
       195908.19645814,  75341.76288197, 255490.58387327, 256938.52747325,
       285710.57497584, 136216.99018881, 233354.61384554, 303025.80063735,
       306911.86995791, 165645.9100692 , 133401.32880673, 218434.48610333,
       216144.81448989, 145168.34474043, 170686.46442667, 275375.47206258,
       156493.04332861, 124886.37093784, 305048.10136038, 126714.96591621,
       127271.90547288,  88034.7138128 ,  89316.88020396, 222674.56562568,
        79576.7121828 , 168854.2264426 , 161578.9833009 , 189605.24918847,
       128286.85160423, 246358.41327567, 139488.62107409, 212421.50314758,
       127582.23449256, 129777.71039079, 234946.29408424, 117908.57346079,
       152953.58060446, 323469.63526379,  45029.39557013, 220545.6451576 ,
       184303.46291538, 145489.45680502, 103964.27073131, 156473.76854274,
       150585.23277508, 177992.9581577 , 114795.5694243 , 220047.74357208,
        99031.09079444, 302243.28221568,  95442.25085071, 252770.13730245,
       219120.40275609, 158794.54619728, 117823.09229686, 177258.61576845,
       210307.04334366, 107892.5822633 , 237612.73643291, 130565.94962491,
       244872.93502807, 235611.91315256, 119998.21025778, 260512.73847218,
       212782.51216017, 141008.08900663, 180952.24747083, 133197.23530102,
       142353.63093364, 349772.77723607, 132568.2968697 , 202784.42890519,
        79571.8004167 , 173173.97470224, 185924.65441703, 164691.24530634,
        74992.67658979,  56252.27964517, 132162.61174824,  87046.37550149,
       241693.45171252, 227966.43863673, 332252.74542459, 144006.21212782,
       118420.93416934, 152403.77747732,  83913.12456786, 157002.92862095,
       151342.82921395, 212011.61974595, 112380.53167843, 216837.19105101,
       215494.23492842, 132211.29448692, 128834.36736475, 205678.31696309,
       122265.75275452, 244957.71639822, 143325.83551517, 197348.93271187,
        84976.13453941, 229698.34334356, 162622.32043522, 215666.36632322,
       120396.93055714, 245161.5727799 , 208335.03432282, 100134.82506032,
       144676.16463316, 207834.98772943, 171851.71584406, 141636.95212849,
       268909.55437661, 105387.2823343 , 129711.85304095,  72211.55498753,
       202909.72425763, 181223.58346543, 189764.38386791, 182505.33417646,
       114443.91736304, 169337.13606856, 174325.51608224, 171016.64390026,
       160976.16177936, 166960.82465118, 231862.56216771, 115893.47344408,
       178321.33493393,  65685.18273915, 178793.76697976, 202361.91217615,
       101776.16044622, 261662.60302526, 208541.74903166, 256387.74776475,
       196582.84457194, 106539.25900993, 179509.53096021, 152228.20432694,
       128751.16318796, 103801.3495499 , 241042.68318598, 134639.70966712,
       135595.50572887, 233413.1554555 , 117640.67303304, 338971.38594121,
       172589.54048972, 143840.48936027, 373358.61058778, 202578.7349869 ,
       255321.25698804, 199884.89651694, 271177.08667984, 145443.09001594,
       121076.91181828, 180778.41756853, 127258.4497839 , 202584.29110851,
       110131.63649053, 237849.28023976, 205375.02297034, 102345.62665874,
        79185.10583646, 218257.71416998, 109821.7150474 , 134235.22449221,
       184324.66541583, 162119.83599073, 144568.09933012, 113889.16308043,
       231147.75661835,  84511.10428644, 155046.70231431, 197098.44515625,
       231921.49222463, 155666.36452624, 139457.08712474, 163112.0858671 ,
       124052.1288405 , 196073.52487966, 292542.14954053, 187314.94910903,
       180556.44183394, 241353.17942381, 214854.87526636, 307351.81820907,
       225028.91195707, 234706.09501279, 284925.77561087, 138679.36468983,
       187432.25278475,  76122.27269842, 343030.82094466, 247378.45954445,
       259337.70079589,  72661.35057484, 192881.04352107, 167979.58435586,
       309341.70468754, 104220.06544177, 236978.93898102, 171546.8054597 ,
       141933.27527664, 282381.24607473, 189035.18754499, 184862.03786316,
        58054.19051206, 243796.72208591, 193566.13657808, 301481.87872937,
       311610.31222528, 229910.62942882, 212044.90924248, 162385.53752091,
       105212.46869547, 185925.3278478 , 181969.77322981, 189069.66557993,
        47149.67253953, 215187.00064016, 108752.5893307 ,  90852.61720001,
       139045.82994882, 105043.70928752, 211572.21100234, 142737.3629277 ,
        91502.93707689, 176849.00549146, 176904.29753676, 181249.14618618,
       133901.72535455,  91836.85356958, 203582.47066147, 219346.58723245,
       145309.68955361, 272875.88328084, 242889.555801  , 190531.93125285,
       197446.57730564, 250385.07473186, 170703.9072561 , 176900.84351032,
       196642.73729791, 196938.066808  , 125513.24174732,  98708.83062994,
       199788.92771169, 115409.36490942, 172522.62552409, 231138.7659389 ,
       189620.81441526, 121953.35457792, 211181.44181274, 214833.54950272,
       176963.17388518, 121936.53353931, 196293.34443775, 191516.43757615,
       182212.77093489,  90262.6105046 , 114874.38843761, 209189.1289739 ,
       235899.67185697,  62580.29967743, 150720.53431677, 161693.12497343,
       209547.25830674, 284892.66518793, 117093.63534171, 137919.22711575,
       323203.56005547, 176919.32104167, 302558.56408229, 216771.0571411 ,
       193087.84747118, 157592.6401798 , 159742.63007941, 265907.91681578,
       199398.44765506, 199788.92771169, 122265.73892718, 281256.39948033,
        95656.17781042,  93588.60236481,  86691.32625269, 118304.19338876,
        95923.85674254, 320805.19559366, 278394.41613058, 152807.7782433 ,
       289017.85184635, 261934.78935181,  39205.16583901, 176758.46130194,
       197918.2461381 , 305199.08646288, 163043.25607552, 124176.60495645,
       217388.57564443, 227737.07186498, 239472.69629971, 193861.46550425,
       219685.42671621, 268058.83915494, 155993.31122583, 145123.96535685,
       192958.77501986, 190247.06553048, 137928.95037436, 300943.94503764,
        84575.29500551, 203663.87822477, 196465.25947215, 151022.27288791,
        86091.86695799, 218285.0546797 , 254857.37338997, 221067.68431721,
       239741.31243678, 110878.71147665, 169615.86120304, 228480.47964703,
       143783.46241027, 143814.31266452, 186817.98999067, 265477.27747919,
       214050.83350793, 146478.99770726, 247612.30191012, 189005.98375727,
       151851.15154844, 229844.03486366, 205904.26197557,  87922.5344164 ,
       128373.12160757, 161696.73786729, 190669.66146639, 193728.89526568,
       203932.71761023, 213319.03789381, 182201.40638422,  60195.17061908,
       254117.37619815, 267847.17973314, 281409.31213537, 223259.63216036,
       304880.7882679 , 199845.63648861, 281341.33636204, 213141.81618876,
       211606.37586727, 113068.41062467, 216289.41863997,  84054.63909221,
       315970.63994314, 238736.85202878, 102560.12107407, 216483.52503249,
        86539.97755534, 222468.74785219,  98535.59256508, 144954.73377771,
       315809.35579866, 250184.04126046, 261109.4263083 , 282490.86636693,
       100667.59401651, 199860.49012999,  91495.60460463, 177672.27742657,
       271115.83833032, 235162.67235853, 227820.433984  ,  98560.99579396,
       147070.8541889 , 116948.0958785 , 135838.18553521, 128333.90734736,
       274940.07678957, 242157.67269612, 163791.2008116 , 209941.91085958,
       228703.85011592, 300459.79826928, 203741.33245186, 105148.42686398,
       196342.06204209, 204054.08045599, 162365.92816871, 102898.02683634,
       366767.97034753, 301364.53046819, 302797.77353012, 273918.95720619,
       214052.52303174, 132294.9814208 , 228400.18044423, 199734.04118452,
       157143.50385063, 169767.7040413 ,  63197.44124019, 196839.08302048,
       204340.15596798, 178988.22618612, 230942.87639756,  63856.75394762,
       314697.77526861, 145565.57996426, 133877.55819848, 307755.11630264,
       239979.28687473,  64952.12976894, 119649.57436273, 220993.81868322,
       127947.12527989,  94875.42749374, 207869.62889921,  79913.84693183,
       151055.06885174, 289591.20535589, 119799.59389811, 306367.77784135,
       228185.4505257 , 202375.66935252, 137836.31691716, 141924.20416338,
       238109.46501167, 160131.04663226,  97810.47265118, 142885.71726038,
       160342.51635914,  86901.9683391 , 193883.15603341, 208339.7860148 ,
       155349.45947764, 187211.3891838 , 237734.72346286, 135081.60776274,
       146661.05998348, 236472.76321423, 279155.83431705, 116289.12096899,
       162695.55815744,  78309.13635685, 105661.9522538 , 107670.38242301,
       243891.01308116])

In [22]:
rmse = mean_squared_error(y_test, y_pred)
rmse**.5

32178.14072037901

In [23]:
[f'{X.columns[i]}: {lr.coef_[i]}' for i in range(0, len(X.columns))]

['lot_frontage: 2058.508282129933',
 'lot_area: 1340.1236915906302',
 'year_built: 7792.560655699265',
 'year_remod/add: 11716.197988578866',
 'mas_vnr_area: 8829.254278446446',
 'bsmtfin_sf_1: 4274.368018270919',
 'bsmtfin_sf_2: 1021.9438617753768',
 'bsmt_unf_sf: 2648.2885420920647',
 'total_bsmt_sf: 7365.499274989673',
 '1st_flr_sf: 7749.020744686154',
 '2nd_flr_sf: 8445.470723229544',
 'low_qual_fin_sf: -844.1855135551227',
 'gr_liv_area: 13175.426157697384',
 'bsmt_full_bath: 6672.624127125835',
 'bsmt_half_bath: -674.2042673357687',
 'full_bath: 3055.6020879162843',
 'half_bath: -852.7877334230212',
 'bedroom_abvgr: -7164.405614719768',
 'kitchen_abvgr: -7669.826241338281',
 'totrms_abvgrd: 10317.116315894582',
 'fireplaces: 7185.932237212501',
 'garage_yr_blt: 3317.519634560027',
 'garage_cars: 8072.57564295707',
 'garage_area: 4609.023487473072']

In [24]:
# read-in master df that I will use for modeling
train_df = pd.read_csv('./datasets/train_df.csv')
test_df = pd.read_csv('./datasets/test_df.csv')

In [25]:
# combine the dataframes
train_df = pd.concat([train_df,int_train_df],axis=1)
test_df = pd.concat([test_df,int_test_df],axis=1)

In [26]:
test_df

,Lot Shape,Utilities,Land Slope,Overall Qual,Overall Cond,Exter Cond,Bsmt Qual,Bsmt Cond,Bsmt Exposure,BsmtFin Type 1,...,bsmt_half_bath,full_bath,half_bath,bedroom_abvgr,kitchen_abvgr,totrms_abvgrd,fireplaces,garage_yr_blt,garage_cars,garage_area
0,4,3,3,6,8,2,3,4,2,2,...,0,2,0,4,2,9,0,1910.0,1,440
1,1,3,3,5,4,3,5,4,2,2,...,0,2,0,6,2,10,0,1977.0,2,580
2,1,3,3,7,5,3,5,5,4,7,...,0,2,1,3,1,7,1,2006.0,2,426
3,4,3,3,5,6,3,4,4,2,2,...,0,1,0,2,1,5,0,1935.0,2,480
4,1,3,3,6,5,3,5,4,2,5,...,0,1,1,3,1,6,2,1963.0,2,514
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
873,4,3,3,6,6,3,4,4,2,6,...,0,2,1,4,1,8,1,1974.0,2,488
874,4,3,3,6,7,4,4,4,2,5,...,0,2,1,4,1,9,1,1966.0,2,480
875,4,3,3,5,5,3,4,4,2,5,...,0,1,0,3,1,5,1,1968.0,1,322
876,4,3,3,4,6,3,4,4,2,6,...,0,1,0,3,1,5,0,1974.0,2,528
877,4,3,3,5,5,4,4,4,2,5,...,0,1,0,3,1,5,2,1955.0,1,390

In [28]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2051 entries, 0 to 2050
Columns: 186 entries, Lot Shape to saleprice
dtypes: float64(11), int64(175)
memory usage: 2.9 MB

In [29]:
train_df.to_csv('./datasets/train_df.csv')
test_df.to_csv('./datasets/test_df.csv')